@import "src/theme/theme-variables";

.navbar {
  height: 114px;
  margin: 0 0 70px;
  padding: 44px 1082px 42px 150px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 576px) {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  // Medium devices (tablets, 768px and up)
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.nav-link.dropdown-toggle {
  cursor: pointer;
  color: #000;
}

.navbar-image {
  width: 208px;
  height: 28px;
  object-fit: contain;
  font-family: Baskerville;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
