<div class="container-fluid">
  <div class="container d-flex justify-content-center">
    <form>
      <div
        class="btn-group"
        role="group"
        ngbRadioGroup
        name="radioBasic"
        [ngModel]="view$ | async"
        (ngModelChange)="handleViewChange($event)"
      >
        <label ngbButtonLabel class="btn-primary reign-radio">
          <input ngbButton type="radio" class="btn-check" [value]="'all'" />
          All
        </label>
        <label ngbButtonLabel class="btn-primary reign-radio">
          <input ngbButton type="radio" class="btn-check" [value]="'faves'" />
          My Faves
        </label>
      </div>
    </form>
  </div>

  <router-outlet></router-outlet>
</div>
